<article class="artist">
    <Artist::Image 
        src="{{@artist.images.0.url}}"
        alt=""
    />
    <div class="details">
        <h3>{{@artist.name}}</h3>
        <a href="{{@artist.external_urls.spotify}}" target="_blank" rel="noopener noreferrer">Listen</a>
    </div>
</article>