<nav class="menu">
    <LinkTo @route="index" class="menu-index">
        <h1>matt's <span>spotify</span></h1>
    </LinkTo>
    <div class="links">
        {{!-- <LinkTo @route="about" class="menu-about">
            about
        </LinkTo> --}}
        
        {{!-- <button {{action (action "toggleModal")}}>Toggle Modal</button> --}}
    </div>
    
</nav>


