<div class="intro">
    <p>This is a quick application I built to gain an understanding for the JavaSript framework, <a href="https://emberjs.com/" style="color:rgb(224, 78, 57);" target="_blank" rel="noopener noreferrer">Ember</a>. Below is a list of the artists I listen to the most on Spotify.</p>
    <button class="button" {{action (action "toggleModal")}}>Suggest a Artist!</button>
</div>

<div class="spotify">
    {{#each @model as |artist|}}
        <Artist @artist={{artist}} />
    {{/each}}
</div>

{{#if isShowingModal}}
  {{#modal-dialog
      onClose=(action "toggleModal")
      targetAttachment="center"
      translucentOverlay=true
  }}
    <h2>Add form here.</h2>
    <span>modal added with <a href="https://github.com/yapplabs/ember-modal-dialog#routable-usage" target="_blank">yapplabs/ember-modal-dialog</a> </span>
  {{/modal-dialog}}
{{/if}}


